

button:hover {
  background-color: #2980b9;
}

.passwords-container {
  
  flex-direction: column; /* Display passwords in a row */
  justify-content: space-between; /* Distribute space between passwords */
  flex-wrap: wrap; /* Wrap to the next row if needed */
}

.password-box {
  border-radius: 4px;
  padding: 10px;
  width: 245px; /* Adjust the width to create a 1x4 layout with margin */
  margin: 5px; /* Add margin between passwords */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-text {
  flex-grow: 1; /* Allow the text to grow and occupy available space */
}

.copy-icon {
  cursor: pointer;
  color: #007BFF;
  margin-left: 10px; /* Add margin to separate the icon from the text */
}

.generate-password-text {
  display: flex;
  justify-content: center; /* Center the text horizontally */
  align-items: center;
}

.generate-password-text span:first-child {
  flex-grow: 1;

}

.reload-button {
  cursor: pointer;
  color: #007BFF;
  margin-left: 10px;
  display: flex;
  align-items: center;
}


@media (min-width: 768px) and (max-width: 1024px) {
  .passwords-container {
    display: grid; /* Use grid layout for more flexibility */
    grid-template-columns: repeat(3, 1fr); /* Arrange passwords in 3 columns */
    grid-gap: 10px; /* Add gap between passwords */
  }

  .password-box {
    width: calc((100% / 3) - 20px); /* Calculate width for 3 columns with gap */
  }
}